body {
    background-color: rgb(95, 191, 255);
}

.user {
    display: block;
    align-items: baseline;
    gap: 20px;
    width: 100%;
    height: 300px;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid rgb(0, 127, 255);
    border-radius: 48px;
}

.in {
    display: flex;
    align-items: baseline;
    gap: 20px;
    width: 100%;
    height: 180px;
    padding: 20px;
    box-sizing: border-box;
    /*border: 2px solid rgb(91, 187, 251);*/
}

.button {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 80px;
    padding: 20px;
    box-sizing: border-box;
    /*border: 2px solid rgb(91, 187, 251);*/
}

.inputDescription {
    font-size: 24px;
    font-weight: bold;
    line-height: 8px;
}

.numberInput {
    flex: 1;
    text-align: center;
    /*border: 1px solid rgb(91, 187, 251);*/
    padding: 5px;
    font-size: 16px;
}

.bombInput {
    flex: 1;
    text-align: center;
    /*border: 1px solid rgb(91, 187, 251);*/
    padding: 5px;
    font-size: 16px;
}

.emojiInput {
    flex: 1;
    text-align: center;
    /*border: 1px solid rgb(91, 187, 251);*/
    padding: 5px;
    font-size: 16px;
}

.numIn {
    width: 40px;
}

.numInB{
    width: 64px;
}

.emojiIn {}

.generateButton {
    background-color: #487240;
    color: #d5fcf7;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1em;
    margin: 0 auto;
}

.generateButton:hover {
    color: #fff;
    opacity: 0.8;
}

.out{
    display: block;
    align-items: baseline;
    gap: 20px;
    width: 100%;
    height: 400px;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid rgb(91, 187, 251);
    border-radius: 48px;
}

.outText{
    width: 100%;
    height: 90%;
    resize: none;
}